.container {
    padding-top: 30px;
    padding-bottom: 30px;    
}

#myBox {
    width: auto;
    height: auto;
}

.title {
    padding-top: 10px;
    text-align: center;
}

#searchBar {
    margin-right: auto;
    margin-left: auto;
}

#cardData {
    width: 13rem;
    height: 11rem;
    text-align: center;
}