.container {
    padding-top: 30px;
    padding-bottom: 30px;    
}

#myBox {
    width: 47rem;
    height: 37.5rem;
    background-color: rgb(137, 139, 161); 
    border-color: rgb(137, 139, 161); 
}

.title {
    padding-top: 10px;
    text-align: center;
    color: #ffff;
}

#searchBar {
    margin-right: auto;
    margin-left: auto;
}

#row1 {
    padding-top: 3px;
    padding-bottom: 15px;
    color: #ffff;
}

#row2 {
    padding-top: 13px;
    padding-bottom: 15px;
    color: #ffff;
}

#cardData {
    width: 13rem;
    height: 11rem;
    text-align: center;
    font-weight: bold;
    font-size: 15pt;
    background-color: rgb(19, 23, 60);
    
}