.container {
    padding-top: 30px;
    padding-bottom: 30px;    
}

#myBox {
    width: 47rem;
    height: 37.5rem;
    background-color: #bfd7dd; 
    border-color: #bfd7dd; 
}

.title {
    padding-top: 10px;
    text-align: center;
}

#searchBar {
    margin-right: auto;
    margin-left: auto;
}

#row1 {
    padding-top: 3px;
    padding-bottom: 15px;
}

#row2 {
    padding-top: 13px;
    padding-bottom: 15px;
}

#cardData {
    width: 13rem;
    height: 11rem;
    text-align: center;
    font-weight: bold;
    font-size: 15pt;
    background-color: rgb(109, 140, 191);
    
}